:host {
  display: block;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#container > * {
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: calc(100% - 20px);
  color: black;
  text-align: left;
}

#spacer, #hr {
  margin-top:0;
  margin-bottom:0;
  width:auto;
}

#imgContainer {
  max-height: 50%;
  width: 100% !important;
  margin-left: 0;
}

#back {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
}

#spinner {
  margin-left: 10px;
  width: calc(100% - 10px);
  height: 100%;
}

#image {
  width: 100%;
  height: auto;
}

#backbutton {
   background-color: #4CA8B4;
   margin-left: 0;
}

#visitSrc {
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: right !important;
  color: #4CA8B4;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

[data-show="false"] {
  display: none;
}

h2, h3, h4 {
  font-weight: normal;
}
