:host {
  display: block;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-top: 0px;
}

#detailbody > * {
  position: relative;
  overflow: hidden;
  margin: 20px 16px 0px 16px;
  width: calc(100% - 32px);
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}

#container > table {
  margin-left: 13px !important;
}

#imgContainer {
  max-height: 50%;
  width: 100% !important;
  margin-left: 0;
  margin-top: 0;
  overflow-y: hidden;
}

#back {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

#aspect-ratio-frame {
  position: relative;
  display: inline-block;
  width: 100%;
}

#aspect-ratio-spacer {
  padding-top: 100%;
}

#img-placer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#backbutton {
   background-color: #B8578C;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 17px;
   margin-bottom: auto;
}

#backbutton::shadow core-icon {
   width: 20px;
   height: 20px;
}

#backbutton::shadow paper-ripple {
   display: none;
}

#visitSrc {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  text-align: right !important;
  color: #C42B7F;
  width: calc(100% - 32px);
  margin: 0 16px;
}

#spacer, #hr {
  margin-top: 0;
  margin-bottom: 0;
  width: auto;
}

tr {
  height: 40px;
}

td {
  font-size: 14px;
  line-height: 16px;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

[data-show="false"] {
  display: none !important;
}

#caption {
  line-height: 28px;
}

#backcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 20px;
  line-height: 25px;
  /* 64px is the height of cp-panel#toolbar */
  /* 25px is the line-height */
  margin-top: calc((64px - 25px) / 2);
  margin-bottom: calc((64px - 25px) / 2);
  margin-left: 5px;
}

#imageInfo {
  margin-top: 0;
}

.top-bar {
  background-color: #B8578C;
  margin: 0 !important;
  width: 100% !important;
  min-height: 64px;
}

#detailbody {
  overflow-y: auto;
  margin: 0;
  margin-bottom: 50px;
  width: 100%;
}

#detailbody > * {
}

#articleSource {
  line-height: 12px;
  font-size: 10px;
}

#snippet {
  line-height: 16px;
  font-size: 14px;
}
