:host {
  display: block;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-top: 0px;
}

#detailbody {
  overflow-y: auto;
  margin: 16px 0 50px 0;
  width: 100%;
}

#detailbody > * {
  position: relative;
  overflow: hidden;
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}

#container > table {
  margin-left: 13px !important;
}

#back {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

#imgContainer {
  width: 100% !important;
  margin: 0;
  overflow-y: hidden;
}

#aspectRatioFrame {
  position: relative;
  display: inline-block;
  width: 100%;
}

#aspectRatioSpacer {
  padding-top: 100%;
}

#imgPlacer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #e6e6e6 solid;
}

#spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#backbutton {
   background-color: #B8578C;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 17px;
   margin-bottom: auto;
}

#backbutton::shadow core-icon {
   width: 20px;
   height: 20px;
}

#backbutton::shadow paper-ripple {
   display: none;
}

#visitSrc {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  text-align: right !important;
  color: #C42B7F;
  width: 100%;
  border-top: 1px #e6e6e6 solid;
}

.imageMeta {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.imageMeta, #snippet {
  font-size: 14px;
}

.imageMetaKey {
  width: 40%;
}

.imageMetaValue {
  width: 60%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
}

[data-show="false"] {
  display: none !important;
}

#caption {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-bottom: 0 !important;
}

#backcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 20px;
  line-height: 25px;
  /* 64px is the height of cp-panel#toolbar */
  /* 25px is the line-height */
  margin-top: calc((64px - 25px) / 2);
  margin-bottom: calc((64px - 25px) / 2);
  margin-left: 5px;
}

.top-bar {
  background-color: #B8578C;
  margin: 0 !important;
  width: 100% !important;
  min-height: 64px;
}

#articleSource {
  line-height: 12px;
  font-size: 10px;
}
