/* CSS shared between cp-tile* components */
:host {
  display: inline-block;
  -webkit-animation: fadein 1s;
  border: 4px solid #fafafa;
  box-sizing: border-box;
}

#container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #fafafa;
  background-color: #fafafa;
}

#imageShadow {
  margin: 3px;
  height: calc(100% - 6px); /* -margin * 2 */
  width: calc(100% - 6px); /* -margin * 2 */
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

#imageShadow:hover {
  border: 3px solid #C42B7F;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

[data-show="false"] {
  display: none !important;
}
