/* Regular */
@font-face {
  font-family: 'ClearSans';
  font-weight: 400;
  font-style: normal;
  src: local('Clear Sans'), local('ClearSans'),
       url('WOFF/ClearSans-Regular.woff') format('woff'); /* Modern Browsers */
}

/* Regular Italic */
@font-face {
  font-family: 'ClearSans';
  font-weight: 400;
  font-style: italic;
  src: local('Clear Sans Italic'), local('ClearSans-Italic'),
       url('WOFF/ClearSans-Italic.woff') format('woff'); /* Modern Browsers */
}

/* Regular Bold */
@font-face {
  font-family: 'ClearSans';
  font-weight: 700;
  font-style: normal;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'),
       url('WOFF/ClearSans-Bold.woff') format('woff'); /* Modern Browsers */
}

/* Regular Bold Italic */
@font-face {
  font-family: 'ClearSans';
  font-weight: 700;
  font-style: italic;
  src: local('Clear Sans Bold Italic'), local('ClearSans-BoldItalic'),
       url('WOFF/ClearSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

/* Medium */
@font-face {
  font-family: 'ClearSans';
  font-weight: 500;
  font-style: normal;
  src: local('Clear Sans Medium'), local('ClearSans-Medium'),
       url('WOFF/ClearSans-Medium.woff') format('woff'); /* Modern Browsers */
}

/* Medium Italic */
@font-face {
  font-family: 'ClearSans';
  font-weight: 500;
  font-style: italic;
  src: local('Clear Sans Medium Italic'), local('ClearSans-MediumItalic'),
       url('WOFF/ClearSans-MediumItalic.woff') format('woff'); /* Modern Browsers */
}

/* Light */
@font-face {
  font-family: 'ClearSans';
  font-weight: 300;
  font-style: normal;
  src: local('Clear Sans Light'), local('ClearSans-Light'),
       url('WOFF/ClearSans-Light.woff') format('woff'); /* Modern Browsers */
}

/* Thin */
@font-face {
  font-family: 'ClearSans';
  font-weight: 100;
  font-style: normal;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'),
       url('WOFF/ClearSans-Thin.woff') format('woff'); /* Modern Browsers */
}
