:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

@font-face {
  font-family: ClearSans;
  src: local('ClearSans'), url("../ClearSans/WOFF/ClearSans-Regular.woff");
}

* {
  font-family: ClearSans;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  height: 100%;
}

#splitter {
  background-color: #202020;
  box-shadow: none;
  width: 8px;
}

#iframe {
  display: block;
  background-color: #f0f0f0;
  height: 100%;
  float: left;
  border: none;
}

#content_push_panel {
  display: block;
  background-color: #f0f0f0;
  height: 100%;
  width: 272px;
  max-width: 40%;
  min-width: 220px;
  float: right;
}

#panel{
  height:100%;
  margin:0;
  padding:0;
  background-color: #f0f0f0;
  overflow: auto;
  background-image: url('../../images/background.svg');
  background-position: 100% 100%;
  background-size: 100%;
}

#toolbar {
  display: block;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

#toolbartext {
  color: #FFFFFF;
  -webkit-user-select: none;
}

#toolbaraction {
  color: #FFFFFF;
  -webkit-user-select: none;
}

#menutoolbar {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#display {
  margin: 3px;
  padding: 0;
  height: 90%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#tabs {
  width: 100%;
  padding: 0;
  margin: -15px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

core-toolbar paper-tabs {
  box-shadow: none;
}

#tabs::shadow #selectionBar {
  background-color: #4CA8B4;
}
